# tasks file for kibatic.traefik
---
- name: Create traefik systemd unit
  get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - url: "{{ traefik_systemd_unit_url }}"
      dest: "{{ traefik_systemd_unit_dest }}"

- name: Reload systemd daemon
  shell: systemctl daemon-reload

- name: Ensure install & config directory exists
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ traefik_install_dir }}"

- name: Download Traefik binary
  get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - url: "{{ traefik_binary_url }}"
      dest: "{{ traefik_bin_path }}"

- name: Copy traefik config file
  template:
    src: "{{ traefik_template }}.j2"
    dest: "{{ traefik_config_file }}"
    owner: root
    group: root
    mode: 0744

- name: Enable traefik service at boot
  service:
    name: traefik
    enabled: yes

- name: Ensure traefic service is running
  service:
    name: traefik
    state: started
